<!-- boton para agregar el producto al carrito -->
<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit">Agregar al Carrito</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>