<div id="layoutSidenav_nav">
  <nav class="sidenav shadow-right sidenav-light">
      <div class="sidenav-menu">
          <div class="nav accordion" id="accordionSidenav">

            <!-- Sidenav Heading (Shop)-->
            <div class="sidenav-menu-heading">Shop</div>
            <a class="nav-link" href="/">
                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Products
            </a>
            <a class="nav-link" href="/">
                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Cart
            </a>
            <a class="nav-link" href="/">
                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Orders
            </a>

            <!-- Sidenav Heading (Admin)-->
            <div class="sidenav-menu-heading">Admin</div>
            <a class="nav-link" href="/">
                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Products
            </a>
            <a class="nav-link" href="/">
                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Add Product
            </a>
            
            <!-- Sidenav Heading (Chat)-->
            <div class="sidenav-menu-heading">Chat</div>
            <a class="nav-link" href="/">
                <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
                Support
            </a>
        </div>
              
      </div>
      <!-- Sidenav Footer-->
    <% if (isAuthenticated) { %>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title">Valerie Luna</div>
            </div>
        </div>
    <% } else { %>
        <div class="sidenav-footer d-grid">
            <button class="btn btn-primary">Login</button>
        </div>
    <% } %>
  </nav>
</div>