<!-- Page Sidebar Start-->
<div class="sidebar-wrapper"> 
    <div>
        <div class="logo-wrapper">
            <a href="/">
                <img class="img-fluid for-light" src="../assets/images/logo/small-logo.png" alt="">
                <img class="img-fluid for-dark" src="../assets/images/logo/small-white-logo.png" alt="">
            </a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        </div>

        <div class="logo-icon-wrapper">
            <a href="/">
                <img class="img-fluid" src="../assets/images/logo-icon.png" alt="">
            </a>
        </div>

        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>
            <div id="sidebar-menu">
                
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn">
                        <a href="/">
                            <img class="img-fluid" src="../assets/images/logo-icon.png" alt="">
                        </a>
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="/">
                            <i data-feather="home"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-list"><a class="sidebar-link sidebar-title" href="#">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g> 
                            <g> 
                              <path d="M15.7499 9.47167V6.43967C15.7549 4.35167 14.0659 2.65467 11.9779 2.64967C9.88887 2.64567 8.19287 4.33467 8.18787 6.42267V9.47167" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.94995 14.2074C2.94995 8.91344 5.20495 7.14844 11.969 7.14844C18.733 7.14844 20.988 8.91344 20.988 14.2074C20.988 19.5004 18.733 21.2654 11.969 21.2654C5.20495 21.2654 2.94995 19.5004 2.94995 14.2074Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                          </g>
                        </svg><span>E-commerce</span></a>
                      <ul class="sidebar-submenu">
                        <li><a href="product.html">Product</a></li>
                        <li><a href="product-page.html">Product page</a></li>
                        <li><a href="list-products.html">Product list</a></li>
                        <li><a href="payment-details.html">Payment Details</a></li>
                        <li><a href="order-history.html">Order History</a></li>
                        <li><a href="invoice-template.html">Invoice</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="list-wish.html">Wishlist</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="pricing.html">Pricing              </a></li>
                      </ul>
                    </li>
                </ul>

                <div class="sidebar-img-section">
                    <div class="sidebar-img-content">
                        <img class="img-fluid" src="../assets/images/side-bar.png" alt="ayuda">
                        <h4>¿Necesita Ayuda?</h4>
                        <a class="txt" href="#">Envie un mail a: "support@coderhouse.com"</a>
                    </div>
                </div>
            
            </div>
      </nav>
    </div>
  </div>
<!-- Page Sidebar Ends-->